<br>
<div class="card" style="width: 18rem;">
  <img src="/images/touxiang.jpg" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">杜美心</h5>
    <p class="card-text">作品：码头姑娘</p>
    <a href="/video" class="btn btn-primary">查看</a>
</div>
