<form action="/comment/new" method="post">
	Content:<br>
	<input class="form-control" type="text" name="content"><br>
	User:<br>
	<input class="form-control" type="text" name="user"><br>
	<input class="btn btn-warning" type="submit" name="Submit">
</form>
