<br>
<h2>Comment list </h2>
<ul class="list-group list-group-flush">
<% @comments.each do |comment| %>
<li class="list-group-item"><a href="/comment/<%=comment.id%>">	<%= comment.content %></a> -<%=  comment.created_at.strftime("%m/%d/%Y %k:%M") %> </li>
<% end %>
</ul>
<br>

<button class="btn btn-warning" onclick="location.href='/comment/new'">Add new Comment</button>