<br>
<div class="media">
  <img src="/images/thumb.jpeg" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">blahblah</h5>
    While others may have been excited over the release of Jump Force this month, my most anticipated game in February was actually Devotion by Taiwanese developers, Red Candle Games. They are the same developers that made Detention, their previous side-scrolling horror game, and I've loved them ever since. Main reason being how they incorporated real Asian lore and themes to create something horrifying yet human in a way. 
  </div>