<html>
<head>
<link href="/styles.css" rel="stylesheet" type="text/css">
<title><%= @title || "Student Information System"%></title>
</head>
<body>
<header>  
  <h1>Songs by Sinatra</h1>
</header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/students">Students</a></li>
      <li><a href="/comment">Comment</a></li>
      <li><a href="/video">Video</a></li>
      <% if session[:admin] %>
      <li><a href="/logout">Logout</a></li>
      <% else %>
      <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </nav>
<%= yield %>
</body>
</html>
