<br>
<p>
  
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    See password
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    usrname: admin; password: admin
  </div>
</div>

<form action="/login" method="post">
	<div class="form-group w-25">
	Username:<br>
	<input class="form-control" type="text"  name="username"><br>
	Password:<br>
	<input class="form-control" type="text" name="password"><br>
	<input class="form-control" type="submit" name="Submit">
	</div>
</form>


