<h2>Please Login to have more privilege</h2>
<h1>Username: admin</h1>
<h1>Passoword: admin</h1>
<form action="/login" method="post">
	Username:<br>
	<input type="text"  name="username"><br>
	Password:<br>
	<input type="text" name="password"><br>
	<input type="submit" name="Submit">
</form>