<br>
Logging out...
<div class="spinner-border text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>

<script>
	setTimeout(myFunction, 1000);
	function myFunction() {
	  location.replace("/")
	}
</script>
