<form action="/students/new" method="post">
	Firstname:<br>
	<input type="text" name="firstname"><br>
	Lastname:<br>
	<input type="text" name="lastname"><br>
	<input type="submit" name="Submit">
</form>
