<form action="/students/new" method="post">
	Firstname:<br>
	<input class="form-control" type="text" name="firstname"><br>
	Lastname:<br>
	<input class="form-control" type="text" name="lastname"><br>
	Birthday:<br>
	<input  class="form-control" type="Date"  name="birthday"><br>
	Address:<br>
	<input class="form-control" type="text"  name="address"><br>
	Age:<br>
	<input class="form-control" type="number" name="age"><br>
	<input class="form-control" type="submit" name="Submit">
</form>
