<form action="/students/new" method="post">
	Firstname:<br>
	<input type="text" name="firstname"><br>
	Lastname:<br>
	<input type="text" name="lastname"><br>
	Birthday:<br>
	<input type="Date"  name="birthday"><br>
	Address:<br>
	<input type="text"  name="address"><br>
	Age:<br>
	<input type="number" name="age"><br>
	<input type="submit" name="Submit">
</form>
