<% foo = @foos  %>
<br>
	<li  class="list-group-item">Posted by: <%=	foo.user %></li>
	<li  class="list-group-item">Content: <%=	foo.content %></li>
	<li  class="list-group-item">Posted at: <%=	foo.created_at.to_s %></li>
	