<h2>Students list </h2>
<ul>
<% @students.each do |student| %>
<li><a href="/students/<%=student.id%>"><%= student.firstname + ' ' +student.lastname %></a> </li>
<% end %>
</ul>

<button onclick="location.href='/students/new'">Add new student</button>